@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #191919;
  padding: 43px 80px 116px 80px;
}

.main__btn {
  background-color: #118DA8;
  width: 178px;
  height: 51px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}
.main__btn:hover {
  background-color: #0a6275;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.title {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.title__fz-70 {
  font-size: 70px;
}
.title__fz-64 {
  font-size: 64px;
  letter-spacing: 6px;
  line-height: 70px;
}
.title__fz-36 {
  font-size: 36px;
}
.title__fz-22 {
  font-size: 22px;
  opacity: 70%;
  line-height: 33px;
}
.title__fz-17 {
  font-size: 17px;
}

.episodes {
  padding: 100px 0 100px 0;
}
.episodes__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1330px;
}
.episodes__blocks_items {
  margin-top: 60px;
  padding: 40px 60px 40px 40px;
  background-color: #000;
  width: 1330px;
  height: 545px;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.episodes__blocks_items-episode {
  color: #118DA8;
  padding: 48px 0 18px 0;
}
.episodes__blocks_items-btn {
  background-color: #191919;
  border-radius: 6px;
  width: 73px;
  height: 27px;
  border: none;
  color: #fff;
  font-size: 18px;
}

.reviews {
  padding: 100px 0 100px 0;
}
.reviews__blocks-tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1330px;
}
.reviews__blocks_item {
  margin-top: 16px;
  padding: 30px 40px 0px 50px;
  background-color: #000;
  width: 423px;
  height: 321px;
  border-radius: 32px;
}

.rating-mini {
  margin-top: 20px;
  display: inline-block;
  font-size: 0;
}

.rating-mini span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;
}

.rating-mini > span:before {
  content: "★";
}

.rating-mini > span.active {
  color: #FCFF51;
}

.form {
  margin-top: 100px;
  margin-bottom: 74px;
  padding: 60px;
  background-color: #000;
  width: 1330px;
  height: 387px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-radius: 32px;
}
.form__subtitle {
  padding-bottom: 6px;
  color: #118DA8;
  font-size: 18px;
}
.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form form input {
  padding: 20px 0 19px 27px;
  margin-bottom: 20px;
  background-color: #191919;
  width: 522px;
  height: 82px;
  border-radius: 6px;
  border: none;
  font-size: 24px;
}
.form__btn {
  width: 87px;
  font-size: 15px;
}

.footer {
  margin: 100px 0 116px 0;
}
.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 1200px;
}
.footer__blocks_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__blocks_first-social {
  padding-top: 20px;
  letter-spacing: 10px;
  cursor: pointer;
}
.footer__blocks_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__blocks_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__blocks_fourth {
  cursor: pointer;
}
.footer__link {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  line-height: 35px;
}
.footer__link:hover {
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  color: aqua;
}/*# sourceMappingURL=style.css.map */